<!DOCTYPE html>
<html>
	<head>
	  <title>Core</title>
	  <%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div id="flash">
			<p class="notice"><%= notice %></p>
		    <p class="alert"><%= alert %></p>
		</div>
		<div id="header">
			<span id="logo">Scriptorium</span>
			<div id="logout">
				Logget inn som <%= User.find_by_id(session[:user])[:realname] %>(<%= User.find_by_id(session[:user])[:username] %>),
				<a href="/logout">Logg ut</a>
			</div>
		</div>
		<div id="menu">
			<ul>
				<li><%= link_to "Hjem", main_app.root_path %></li>
				<li><%= link_to "Arkiv", archive.root_url %></li>
				<li><%= link_to "Nyheter", feed.root_url %></li>
			</ul>
		</div>

		<div id="content">
			<%= yield %>
		</div>
	</body>
</html>
