<!DOCTYPE html>
<html>
<head>
  <title>Core</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="flash">
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
</div>
<%= yield %>

<% if admin_user_signed_in? %>
	<div><%= link_to "Logg ut", destroy_admin_user_session_path, :method => :delete %></div>
<% end %>
</body>
</html>
